<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body h1
        {
            background:linear-gradient(rgb(207, 54, 184),rgb(17, 240, 17),rgb(226, 226, 15),rgb(48, 48, 155));
        }
        body
        {
            background-color: rgb(230, 203, 169);
        }
    </style>
</head>
<body>
    <center>
        <h1><marquee behavior="" direction="right">...Have a great day..</marquee></h1>
    </center>
</body>
</html>